<div *ngIf="document | async; let individual" [@fadeIn]>
  <div class="float-right">
    <div class="text-nowrap" *ngIf="individual.researcherOn !== undefined">
      <img src="assets/images/co_investigator_icon.png" height="25" width="25" alt="investigator network icon">
      <span class="ml-2">
        <a [routerLink]="['/visualization', individual.id, 'Co-investigator Network']">Co-investigator Network</a>
      </span>
    </div>
  </div>
  <div class="h1"><a [routerLink]="['/display', individual.id]">{{individual.name}}</a></div>
  <div class="h2">Co-author Network</div>
  <div *ngIf="dataNetwork | async; let dataNetwork" class="mb-4">
    <scholars-chord-diagram [dataNetwork]="dataNetwork"></scholars-chord-diagram>
    <div class="row">
      <div class="col">
        <div class="alert alert-warning" role="alert">
          <p>
            Note: This information is based solely on publications that have been loaded into the VIVO system. This
            may only be a small sample of the person's total work.
          </p>
        </div>
      </div>
    </div>
    <div class="h3">Tables</div>
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header">Publications per year</div>
          <div class="card-body">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Year</th>
                  <th scope="col">Publications</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let count of dataNetwork.yearCounts | keyvalue: asIsOrder">
                  <td>{{ count.key }}</td>
                  <td>{{ count.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">Co-authors</div>
          <div class="card-body">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Author</th>
                  <th scope="col">Publications with</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let count of dataNetwork.linkCounts | keyvalue: asIsOrder">
                  <td>{{ count.key }}</td>
                  <td>{{ count.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
