<div class="scroll" [@fadeIn] aria-live="polite">
  <i class="fa fa-chevron-left my-auto mr-1" (click)="scrollLeft()" role="button" [attr.aria-label]="'SHARED.CAROUSEL.ACCESSIBILITY.SCROLL_LEFT' | translate"></i>
  <div class="scroll-view mx-auto" #scrollView>
    <div class="card scroll-item" *ngFor="let item of getItems() | async" [ngClass]="{'hide': item.hidden}" [ngStyle]="{'background-image': getBackgroundImage(item)}">
      <a class="card-body p-1" [routerLink]="item.link" role="link">
        <div class="item-subtitle">{{item.preferredTitle}}</div>
        <div class="item-title">{{item.name}}</div>
      </a>
    </div>
  </div>
  <i class="fa fa-chevron-right my-auto ml-1" (click)="scrollRight()" role="button" [attr.aria-label]="'SHARED.CAROUSEL.ACCESSIBILITY.SCROLL_RIGHT' | translate"></i>
</div>
