<form novalidate aria-labelledby="modal-basic-title" aria-describedby="modal-body" role="dialog" aria-modal="true">
  <div class="modal-header">
    <span class="h4 modal-title" id="modal-basic-title">{{dialog.title | async}}</span>
    <button *ngIf="dialog.close" type="button" class="close" aria-label="Close" (click)="dialog.close.action()" [disabled]="dialog.close.disabled() | async">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="modal-body">
    <scholars-alert [location]="location" role="alert" aria-live="assertive"></scholars-alert>
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button *ngIf="dialog.close" type="button" class="btn {{dialog.close.type}}" (click)="dialog.close.action()" [disabled]="dialog.close.disabled() | async" aria-label="Close dialog">{{dialog.close.label | async}}</button>
    <button *ngIf="dialog.submit" type="submit" class="btn {{dialog.submit.type}}" (click)="dialog.submit.action()" [disabled]="dialog.submit.disabled() | async" aria-label="Submit form">{{dialog.submit.label | async}}</button>
  </div>
</form>
