<div *ngIf="document | async; let individual" [@fadeIn]>
  <div class="float-right">
    <div class="text-nowrap">
      <img src="assets/images/co_author_icon.png" height="25" width="25" alt="co-author network icon">
      <span class="ml-2">
        <a [routerLink]="['/visualization', individual.id, 'Co-author Network']">Co-author Network</a>
      </span>
    </div>
  </div>
  <div class="h1"><a [routerLink]="['/display', individual.id]">{{individual.name}}</a></div>
  <div class="h2">Co-investigator Network</div>
  <div *ngIf="coDataNetwork | async; let coDataNetwork" class="mb-4">

    <scholars-chord-diagram [coDataNetwork]="coDataNetwork" action="investigator" actionPastTense="investigated" type="Grant"></scholars-chord-diagram>

    <div class="row">
      <div class="col">
        <div class="alert alert-warning" role="alert">
          <p>
            Note: This information is based solely on grants that have been loaded into the VIVO system. This may
            only be a small sample of the person's total work.
          </p>
        </div>
      </div>
    </div>
    <span class="h3">Tables</span>
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header">Grants per year</div>
          <div class="card-body">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Year</th>
                  <th scope="col">Grants</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let count of coDataNetwork.yearCounts | keyvalue">
                  <td>{{ count.key }}</td>
                  <td>{{ count.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">Co-investigators</div>
          <div class="card-body">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Investigators</th>
                  <th scope="col">Grants with</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let count of coDataNetwork.linkCounts | keyvalue">
                  <td>{{ count.key }}</td>
                  <td>{{ count.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
