<p>analytics-dashboard works!</p>
<div class="card-deck">

  <div class="card-columns">

    <ng-template ngFor let-av [ngForOf]="analyticViews | async" let-i="av" [ngForTrackBy]="trackByIndex">
      <div class="card">
        <a [routerLink]="getRoute(av)" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <div class="card-header">
            {{ av.name }}
          </div>
          <div class="card-body">

          </div>
        </a>
      </div>
    </ng-template>

  </div>

</div>