<scholars-sidebar>
  <div [@fadeIn]>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <ng-template ngFor let-breadcrumb [ngForOf]="breadcrumbs | async" let-i="breadcrumb" [ngForTrackBy]="trackByIndex">
          <li class="breadcrumb-item active" aria-current="page">
            <a [routerLink]="breadcrumb.route">{{ breadcrumb.label }}</a>
          </li>
        </ng-template>
      </ol>
    </nav>

    <div class="card-columns" *ngIf="isDashboard | async">
      <ng-template ngFor let-av [ngForOf]="analyticViews | async" let-i="av" [ngForTrackBy]="trackByIndex">
        <div class="card">
          <a [routerLink]="[av.name]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <div class="card-header">
              {{ av.name }}
            </div>
            <div class="card-body" [ngSwitch]="av.layout">

              <div *ngSwitchCase="'CONTAINER'">CONTAINER</div>
              <div *ngSwitchCase="'GRID'">GRID</div>
              <div *ngSwitchCase="'LIST'">LIST</div>
              <div *ngSwitchDefault>{{ av.layout }} Unknown</div>
    
            </div>
          </a>
        </div>
      </ng-template>
    </div>

    <div class="card-deck" *ngIf="analyticView | async; let av">
      <div class="card">
        <div class="card-header">
          {{ av.name }}
        </div>
        <div class="card-body" [ngSwitch]="av.layout">

          <div *ngSwitchCase="'CONTAINER'">CONTAINER</div>
          <div *ngSwitchCase="'GRID'">GRID</div>
          <div *ngSwitchCase="'LIST'">LIST</div>
          <div *ngSwitchDefault>{{ av.layout }} Unknown</div>

        </div>
      </div>
    </div>

  </div>
</scholars-sidebar>