<scholars-dialog [dialog]="dialog" role="dialog" aria-describedby="searchInstructions">
  <div id="dialogTitle" class="h4">{{ 'SHARED.DIALOG.ARIA_LABELLED_BY' | translate }}</div>
  
  <div id="searchInstructions">
    <ul>
      <li>{{ 'SHARED.DIALOG.SEARCH_TIPS.CASE_INSENSITIVE' | translate }}</li>
      <li>{{ 'SHARED.DIALOG.SEARCH_TIPS.LOGIC' | translate }}
        <ul>
          <li>{{ 'SHARED.DIALOG.SEARCH_TIPS.LOGIC_EXAMPLE_1' | translate }}</li>
          <li>{{ 'SHARED.DIALOG.SEARCH_TIPS.LOGIC_EXAMPLE_2' | translate }}</li>
        </ul>
      </li>
      <li>{{ 'SHARED.DIALOG.SEARCH_TIPS.QUOTATION' | translate }}
        <ul>
          <li>{{ 'SHARED.DIALOG.SEARCH_TIPS.QUOTATION_EXAMPLE_1' | translate }}</li>
          <li>{{ 'SHARED.DIALOG.SEARCH_TIPS.QUOTATION_EXAMPLE_2' | translate }}</li>
        </ul>
      </li>
      <li>{{ 'SHARED.DIALOG.SEARCH_TIPS.WILDCARD' | translate }}
        <ul>
          <li>{{ 'SHARED.DIALOG.SEARCH_TIPS.WILDCARD_EXAMPLE' | translate }}</li>
        </ul>
      </li>
    </ul>
  </div>
</scholars-dialog>
