.graph-title {
  display: flex;
  font-size: 20px;
  text-align: center;
  position: absolute;
  align-items: center;
}

.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .graph-container {
    flex-direction: column !important;
    align-items: center;
  }
  .graph-title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 18px;
  }
}
