<div *ngIf="individual | async; let individual" class="tab-content" role="tabpanel" aria-live="polite">
  <div *ngIf="tab | async; let tab" class="tab-pane active" [attr.aria-labelledby]="tab.id + '-tab'" role="tabpanel">
    <div class="ml-3 mr-3 mt-3 card" *ngFor="let section of getSectionsToShow(tab, individual)">
      <scholars-section [section]="section" [display]="display" [individual]="individual" aria-labelledby="section.id + '-section'"></scholars-section>
    </div>
    <ng-template #no_content>
      <div class="ml-3 mr-3 mt-3 card">
        <div class="card-header font-weight-bold text-primary text-capitalize">{{ 'DISPLAY.TAB.NO_CONTENT_TITLE' | translate }}</div>
        <div class="card-body">{{ 'DISPLAY.TAB.NO_CONTENT_TEXT' | translate }}</div>
      </div>
    </ng-template>
  </div>
</div>
